		*{
			margin:0px;
			padding:0px;
		}
		#top{
			height:24px;
			background-color:#eee;
		}
		#top-1{
			height:24px;
			margin:0 auto;
			width:900px;
		}
		#warn{
			float:left;
			margin-top:2px;
			margin-right:5px;
		}
		#wenben{
			width:870px;
			height:24px;
			float:left;
			overflow:hidden;
		}
		#wenben-1{
			margin:0 auto;
			height:24px;
			color:red;
			float:right;
			position:relative;
			left:300px;
			width:1200px;
			font-size:12px;
		}
		#bg{
			position:absolute;
			top:4px;
			left:900px;
		}
		.box{
			position:relative;
			margin:0 auto;
			height:387px;
			width:1200px;
			margin-top:10px;
			overflow:hidden;
		}
		.slider{
			position:absolute;
			width:8400px;
			left:-1200px;
		}
		.slide{
			margin:0px;
			width:1200px;
			float: left;
		}
		.box>span{
			display:block;
			width:30px;
			height:50px;
			text-align:center;
			background:rgb(255,0,0);
			cursor:pointer;
			float:left;
			line-height:50px;
			opacity:0;
			color:#fff;
			font-size:30px
		}
		#left{
			position:relative;
			top:180px;
			left:30px;
			float:left;
		}
		#right{
			position:relative;
			top:180px;
			float:right;
			right:30px;
		}
		.nav{
			position:absolute;
			left:500px;
			bottom:15px;
		}
		.nav>li{
			float:left;
			height:20px;
			width:20px;
			border-radius:50%;
			margin: 0 10px;
			cursor:pointer;
			list-style: none;
			background:#ccc;
			color:red;
			text-align:center;
			font-size:14px;
			color:#000;
		}
		.nav .active{
			background-color:red;
			color:#fff;
		}